# MongoDB configuration
# Replace with your Atlas connection string or local MongoDB URI
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/nutricore?retryWrites=true&w=majority

# JWT configuration
JWT_SECRET_KEY=yoursecretkeyhere
JWT_REFRESH_SECRET=yourrefreshsecretkeyhere

# Flask configuration
FLASK_APP=app.py
FLASK_ENV=development
PORT=5000
